{# templates/articles/articles.html.twig #}

<h1>Articles</h1>

<ul>
    {% for article in articles %}
        <li>
            <strong>{{ article.title }}</strong>
            <p>{{ article.content }}</p>
        </li>
    {% endfor %}
</ul>